<div class="container">
  <div class="row">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a href="/customerlist" class="nav-link">Lista clienti</a>
            </li>
            <li class="nav-item">
              <a href="/costlist" class="nav-link">Lista analisi costi</a>
            </li>
            <li class="nav-item">
              <a href="/addcustomer" class="nav-link">Aggiungi cliente</a>
            </li>
            <li class="nav-item">
              <a href="/forecastexe" class="nav-link">Previsione forecast</a>
            </li>
            <li class="nav-item">
              <a href="/costexe" class="nav-link">Analisi costi</a>
            </li>
            <li class="nav-item">
              <a href="/settings" class="nav-link">Impostazioni</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
